body {
    font-family: sans-serif;
    background-color: rgb(248, 131, 131);
    color: rgb(198, 41, 43);
    margin: 0;
    text-align: center;
}



nav {
    display: flex;
    justify-content: center;
    
}

.nav-link{
    text-decoration: none;
    margin-left: 35px;
    background-color: rgb(222, 185, 136);
    border-radius: 12px;
    padding: 9px;
    color: rgb(198, 41, 43);
    font-weight: 600;
}

.article-but{
    background-color: rgb(222, 185, 136);
    border-radius: 12px;
    padding: 9px;
    color: rgb(198, 41, 43);
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 36px;
}
.price{
    font-weight: 700;
}



p {
    font-size: 20px;
}

main img{
    border-left: 10px double rgb(198, 41, 43);
}




.img footer{
    margin-top: 125px;
}
